// main: ../../style.less

@media (min-width: @desktopwidth) {
  .form-info--wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }
}

.info-form {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;

  padding-bottom: 27px;

  @media (min-width: @tabletwidth) {
    width: @tabletwidth;
    padding: 0 70px 72px;
    border: none;
  }

  @media (min-width: @desktopwidth) {
    padding-left: 110px;
    padding-right: 0;
    width: 680px;
    row-gap: 20px;
  }
}

.info__label {
  position: relative;

  @media (min-width: @tabletwidth) {
    font-size: 20px;
    line-height: 30px;
  }
}

.info__label span {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: #444444;

  @media (min-width: @desktopwidth) {
    font-size: 20px;
    line-height: 30px;
  }
}

.info__name {
  min-width: 228px;
  height: 45px;

  @media (min-width: @tabletwidth) {
    width: 567px;
  }

  @media (min-width: @desktopwidth) {
    width: 506px;
    height: 52px;
  }
}

.info__weight {
  min-width: 204px;
  height: 45px;

  @media (min-width: @tabletwidth) {
    width: 536px;
  }

  @media (min-width: @desktopwidth) {
    width: 475px;
    height: 52px;
  }
}

.info__text {
  min-width: 172px;
  height: 45px;

  @media (min-width: @tabletwidth) {
    width: 497px;
  }

  @media (min-width: @desktopwidth) {
    width: 436px;
    height: 52px;
  }
}

.placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: #444444;

  padding-left: 15px;

  @media (min-width: @tabletwidth) {
    font-size: 20px;
    line-height: 30px;
  }
}
