// main: ../../style.less

@media (min-width: @tabletwidth) {
  .before-after__wrapper {
    background-color: @bacisgrey;
    margin-top: 200px;
    height: 462px;

    margin-left: 0;
    margin-right: 0;
  }
}

.before-after__images {
  width: 280px;
  height: 232px;
  position: relative;
}

.before-img {
  position: absolute;

  display: none;

  @media (min-width: @tabletwidth) {
    width: 592px;
    height: 511px;
    top: -180px;
    left: 110px;
  }
}

.after-img {
  position: absolute;
  left: 10%;

  // display: none;

  @media (min-width: @tabletwidth) {
    width: 592px;
    height: 511px;
    top: -180px;
    left: 100px;
  }
}

.before-after__range {
  display: flex;
  width: 210px;
  margin: 30px auto 0;
  justify-content: space-between;

  @media (min-width: @tabletwidth) {
    position: relative;
    bottom: -130px;
    width: 592px;
    font-size: 20px;
    line-height: 30px;
  }
}

.before-after__progress {
  position: relative;
  width: 85px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  align-self: center;
  cursor: pointer;

  @media (min-width: @tabletwidth) {
    width: 426px;
    height: 6px;
    background: #dcdcdc;
    border: none;
  }
}

.before-after__tog {
  position: absolute;
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;
  top: 3px;
  left: 7px;
  // ИЛИ
  // right: 7px;

  @media (min-width: @tabletwidth) {
    width: 34px;
    height: 34px;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    top: -14px;
    left: 194px;
  }
}

@media (min-width: @tabletwidth) {
  .before-after__tog-min {
    width: 8px;
    height: 8px;
    background: #68b738;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
  }
}
