// main: ../../style.less

@media (min-width: @tabletwidth) {
  .about-programms {
    padding-bottom: 43px;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: @desktopwidth) {
  .about-programms {
    border: none;
    padding-bottom: 0;
    margin-bottom: 205px;
  }
}

.about-programms__wrapper {
  margin: 0 20px 56px;

  @media (min-width: @tabletwidth) {
    margin: 0 109px 0 30px;
  }
}

.about-programms__title {
  .title();

  margin: -10px 1px 40px;

  @media (min-width: @tabletwidth) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktopwidth) {
    margin-left: 76px;
  }
}

.about-programms__list {
  display: flex;
  flex-direction: column;
  gap: 26px;

  list-style-type: none;

  .text();

  margin: 0;
  padding: 0;

  @media (min-width: @tabletwidth) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    position: relative;
  }

  @media (min-width: @desktopwidth) {
    justify-content: center;
    gap: 99px;
    margin-left: 80px;
  }
}

@media (min-width: @tabletwidth) {
  .about-proggramms__text {
    position: absolute;
    top: 145px;
    z-index: 1;
  }
}

.about-programms__item {
  padding-left: 80px;
  position: relative;

  @media (min-width: @tabletwidth) {
    padding: 0;
    width: 230px;
    height: 280px;
  }
}

.about-programms__icon1::before {
  content: "";
  background-image: url(../../../../img/icons/icon1.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;

  top: 0px;
  left: 0px;

  @media (min-width: @tabletwidth) {
    background-image: url(../../../../img/icons/icon1-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.about-programms__icon2::before {
  content: "";
  background-image: url(../../../../img/icons/icon2.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;

  top: 0px;
  left: 0px;

  @media (min-width: @tabletwidth) {
    background-image: url(../../../../img/icons/icon2-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.about-programms__icon3::before {
  content: "";
  background-image: url(../../../../img/icons/icon3.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;

  top: 0px;
  left: 0px;

  @media (min-width: @tabletwidth) {
    background-image: url(../../../../img/icons/icon3-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.about-programms__icon4::before {
  content: "";
  background-image: url(../../../../img/icons/icon4.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;

  top: 0px;
  left: 0px;

  @media (min-width: @tabletwidth) {
    background-image: url(../../../../img/icons/icon4-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

@media (min-width: @tabletwidth) {
  .about-programms__item:nth-child(1):after {
    content: "1";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }

  .about-programms__item:nth-child(2)::after {
    content: "2";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }

  .about-programms__item:nth-child(3)::after {
    content: "3";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }

  .about-programms__item:nth-child(4)::after {
    content: "4";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }
}
