// main: ../style.less

.page-footer__cooperation-info {
  display: flex;
  margin: 0px 20px;
  justify-content: space-between;
}

.cooperation-info__text {
  width: 139px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #111111;

  margin-top: 26px;
  margin-bottom: 25px;
}

.cooperation-info__address {
  width: 139px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #444444;

  margin-top: 25px;
}

.page-footer--grey-bg {
  background-color: #f2f2f2;
}
