@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../../../fonts/oswaldregular.woff") format("woff"), url("../../../fonts/oswaldregular.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: #000;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  body {
    width: 1440px;
  }
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-main {
  margin: 0 20px;
}
.page-header {
  position: relative;
  width: 320px;
  min-height: 37px;
  padding: 10px 30px 17px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
    justify-content: flex-start;
    border: none;
  }
}
@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
    flex-wrap: wrap;
    padding: 53px 110px 32px;
    z-index: 2;
  }
}
.page-header__logo {
  width: 33px;
  height: 37px;
  background-image: url(../../../../img/logo-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.page-header__logo:hover {
  opacity: 0.8;
}
.page-header__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .page-header__logo {
    width: 60px;
    height: 50px;
    background-image: url(../../../../img/logo-tablet.svg);
    margin-right: 13px;
  }
}
@media (min-width: 1440px) {
  .page-header__logo {
    width: 70px;
    height: 59px;
    background-image: url(../../../../img/logo-desktop.svg);
    margin-right: 14px;
  }
}
.page-header__logo--text {
  margin-left: -7px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .page-header__logo--text {
    align-self: center;
  }
}
.page-header__logo--text:hover {
  opacity: 0.8;
}
.page-header__logo--text:active {
  opacity: 0.6;
}
@media (max-width: 768px) {
  .main-nav--close {
    display: none;
  }
  .main-nav-toogle--close {
    background: url(../../../../img/hamburger-close-mobile.svg) no-repeat;
    box-sizing: border-box;
    border: none;
    width: 24px;
    height: 28px;
    cursor: pointer;
  }
  .main-nav__list {
    position: absolute;
    list-style-type: none;
    padding: 0;
    width: 320px;
    right: 0px;
    height: calc(264px - 66px);
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .main-nav__item {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 66px;
    margin: 0px auto 22px;
    padding-top: 22px;
    border-top: 1px solid #d9d9d9;
  }
  .main-nav__item a {
    text-decoration: none;
    color: #000000;
  }
}
@media (min-width: 768px) {
  .main-nav {
    margin-left: auto;
    margin-top: 10px;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 35px;
    margin: 0;
  }
  .main-nav__item {
    padding-bottom: 10px;
  }
  .main-nav__item a {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }
  .main-nav__item a:hover {
    opacity: 0.8;
  }
  .main-nav__item a:active {
    opacity: 0.6;
  }
  .main-nav__item--active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .index-desktop--link a {
    color: #fff;
  }
}
@media (min-width: 1440px) {
  .main-nav-index__item--active {
    border-bottom: 2px solid #fff;
  }
}
.main-nav-toogle--open {
  background: url(../../../../img/hamburger-open-mobile.svg) no-repeat;
  box-sizing: border-box;
  border: none;
  width: 24px;
  height: 27px;
  cursor: pointer;
  margin-top: 12px;
}
@media (min-width: 768px) {
  .main-nav-toogle--open {
    display: none;
  }
}
.page-main {
  margin: 0;
}
.page-main__header {
  background: url(../../../../img/index-bg-mobile.png) no-repeat;
  width: 320px;
  border-color: #68b738;
}
@media (min-width: 768px) {
  .page-main__header {
    background: none;
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page-main__header {
    width: 1440px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 547px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1440px) {
  .bg-desktop {
    background-image: url(../../../../../img/index-background-desktop\ 1.png);
    background-repeat: no-repeat;
    width: 720px;
    height: 694px;
    position: relative;
    top: -147px;
    z-index: 0;
  }
}
.page-main__wrapper {
  min-height: 482px;
  margin: 0px 20px;
  color: #ffffff;
  position: relative;
}
@media (min-width: 768px) {
  .page-main__wrapper {
    min-height: 810px;
    color: #000000;
    margin: 0 117px;
  }
}
.page-main__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .page-main__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-top: 45px;
    padding-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .page-main__title {
    padding-left: 70px;
  }
}
.page-main__wrapper p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
}
@media (min-width: 768px) {
  .page-main__wrapper p {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .page-main__wrapper p {
    padding-left: 70px;
    font-size: 20px;
    line-height: 20px;
  }
}
.background-photo {
  background-image: url(../../../../../img/cat-energy-bg.png);
  width: 300px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  position: absolute;
  top: 163px;
  left: -20px;
}
@media (min-width: 768px) {
  .background-photo {
    width: 709px;
    height: 609px;
    top: 230px;
    left: -105px;
  }
}
@media (min-width: 1440px) {
  .background-photo {
    width: 552px;
    height: 499px;
    top: 0px;
    left: 442px;
  }
}
.btn-index-main {
  position: absolute;
  bottom: 0;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .btn-index-main {
    z-index: 3;
    top: 257px;
  }
}
@media (min-width: 1440px) {
  .btn-index-main {
    top: 265px;
    left: 70px;
  }
}
.button {
  background-color: #68b738;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  width: 280px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  padding: auto;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
  }
}
.button-grey {
  background-color: #f2f2f2;
  color: #444444;
}
.button-grey:hover {
  background-color: #ebebeb;
}
.button-grey:active {
  color: rgba(68, 68, 68, 0.3);
}
.catalog-button {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .catalog-button {
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .catalog-button {
    width: 169px;
    height: 40px;
  }
}
.form-button {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form-button {
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .form-button {
    width: 568px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .additional-catalog-button {
    width: 100%;
    height: 40px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog-button {
    width: 244px;
    height: 40px;
  }
}
.programms__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.programms__button:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .programms__button {
    font-size: 20px;
    line-height: 30px;
  }
}
.before-after__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .before-after__button {
    font-size: 20px;
  }
}
.programms {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 20px 0px;
}
@media (min-width: 768px) {
  .programms {
    margin: 0px 30px 45px;
  }
}
@media (min-width: 1440px) {
  .programms {
    margin: 0px 110px 71px;
    justify-content: space-between;
  }
}
.programm-card {
  background-color: #f2f2f2;
  height: 266px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programm-card {
    width: 100%;
    height: 372px;
    padding: 77px 53px 53px;
  }
}
@media (min-width: 1440px) {
  .programm-card {
    width: 570px;
    height: 374px;
  }
}
.programm-card__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 29px 72px;
}
@media (min-width: 768px) {
  .programm-card__title {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .programm-card__title {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}
.programm-slim__title::before {
  content: "";
  background-image: url(../../../../img/cat-back-slim.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  background-size: contain;
  position: absolute;
  top: 11px;
  left: 22px;
}
@media (min-width: 768px) {
  .programm-slim__title::before {
    width: 200px;
    height: 211px;
    top: 62px;
    left: 445px;
  }
}
@media (min-width: 1440px) {
  .programm-slim__title::before {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }
}
.programm-pro__title::before {
  content: "";
  background-image: url(../../../../img/cat-back-pro.png);
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  background-size: contain;
  position: absolute;
  top: 14px;
  left: 13px;
}
@media (min-width: 768px) {
  .programm-pro__title::before {
    width: 268px;
    height: 200px;
    top: 91px;
    left: 405px;
  }
}
@media (min-width: 1440px) {
  .programm-pro__title::before {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }
}
.programm-card__info {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .programm-card__info {
    border: none;
    width: 340px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .programm-card__info {
    color: #000;
    width: 100%;
    margin-bottom: 23px;
  }
}
.programms__button img {
  margin-left: 12px;
}
@media (min-width: 768px) {
  .about-programms {
    padding-bottom: 43px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .about-programms {
    border: none;
    padding-bottom: 0;
    margin-bottom: 205px;
  }
}
.about-programms__wrapper {
  margin: 0 20px 56px;
}
@media (min-width: 768px) {
  .about-programms__wrapper {
    margin: 0 109px 0 30px;
  }
}
.about-programms__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
  margin: -10px 1px 40px;
}
@media (min-width: 768px) {
  .about-programms__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .about-programms__title {
    margin-left: 76px;
  }
}
.about-programms__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  list-style-type: none;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .about-programms__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .about-programms__list {
    justify-content: center;
    gap: 99px;
    margin-left: 80px;
  }
}
@media (min-width: 768px) {
  .about-proggramms__text {
    position: absolute;
    top: 145px;
    z-index: 1;
  }
}
.about-programms__item {
  padding-left: 80px;
  position: relative;
}
@media (min-width: 768px) {
  .about-programms__item {
    padding: 0;
    width: 230px;
    height: 280px;
  }
}
.about-programms__icon1::before {
  content: "";
  background-image: url(../../../../img/icons/icon1.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .about-programms__icon1::before {
    background-image: url(../../../../img/icons/icon1-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.about-programms__icon2::before {
  content: "";
  background-image: url(../../../../img/icons/icon2.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .about-programms__icon2::before {
    background-image: url(../../../../img/icons/icon2-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.about-programms__icon3::before {
  content: "";
  background-image: url(../../../../img/icons/icon3.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .about-programms__icon3::before {
    background-image: url(../../../../img/icons/icon3-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.about-programms__icon4::before {
  content: "";
  background-image: url(../../../../img/icons/icon4.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .about-programms__icon4::before {
    background-image: url(../../../../img/icons/icon4-tablet.png);
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
@media (min-width: 768px) {
  .about-programms__item:nth-child(1):after {
    content: "1";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }
  .about-programms__item:nth-child(2)::after {
    content: "2";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }
  .about-programms__item:nth-child(3)::after {
    content: "3";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }
  .about-programms__item:nth-child(4)::after {
    content: "4";
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    font-stretch: extra-condensed;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    z-index: 0;
  }
}
.programm-example {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .programm-example {
    background-color: white;
  }
}
.programm-example__wrapper {
  margin: 0 20px;
  height: 700px;
}
@media (min-width: 768px) {
  .programm-example__wrapper {
    margin: 0;
    height: 1000px;
  }
}
@media (min-width: 1440px) {
  .programm-example__wrapper {
    background-color: #f2f2f2;
    height: 462px;
  }
}
.programm-example__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .programm-example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 43px;
    margin-bottom: 63px;
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .programm-example__title {
    padding-top: 0;
    position: relative;
    top: -136px;
    margin-bottom: -10px;
    margin-left: 110px;
  }
}
.programm-example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border: none;
}
@media (min-width: 768px) {
  .programm-example__text {
    font-size: 16px;
    line-height: 24px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 1440px) {
  .programm-example__text {
    margin-left: 110px;
    width: 436px;
    margin-bottom: 69px;
  }
}
.stats-wrapper {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .stats-wrapper {
    justify-content: flex-start;
    gap: 42px;
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .stats-wrapper {
    margin-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .stats__elements {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .stats__elements {
    display: block;
    margin-left: 80px;
  }
}
.stats {
  width: 124px;
  height: 56px;
  margin-bottom: 25px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
@media (min-width: 768px) {
  .stats {
    width: 162px;
    height: 77px;
    font-size: 30px;
    line-height: 37px;
  }
}
.stats-num {
  margin: 17px auto 0;
}
.stats__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  text-transform: lowercase;
  background-color: #f2f2f2;
  margin: 0;
  position: absolute;
  width: 77px;
  bottom: -20px;
  left: 22px;
}
@media (min-width: 768px) {
  .stats__text {
    font-size: 14px;
    line-height: 14px;
    background-color: white;
    width: 130px;
    bottom: -6px;
    left: 16px;
  }
}
@media (min-width: 1440px) {
  .stats__text {
    background-color: #f2f2f2;
  }
}
.stats-price {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .stats-price {
    width: 175px;
    font-size: 20px;
    line-height: 25px;
    text-align: end;
    margin-top: 15px;
    margin-right: 30px;
  }
}
@media (min-width: 1440px) {
  .stats-price {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-left: 30px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .before-after__wrapper {
    background-color: #f2f2f2;
    margin-top: 200px;
    height: 462px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .before-after__wrapper {
    height: 1px;
    margin: 0;
  }
}
.before-after__images {
  width: 280px;
  height: 232px;
  position: relative;
}
.before-img {
  position: absolute;
  display: none;
}
@media (min-width: 768px) {
  .before-img {
    width: 592px;
    height: 511px;
    top: -180px;
    left: 110px;
  }
}
@media (min-width: 1440px) {
  .before-img {
    top: -610px;
    left: 765px;
  }
}
.after-img {
  position: absolute;
  left: 10%;
}
@media (min-width: 768px) {
  .after-img {
    width: 592px;
    height: 511px;
    top: -180px;
    left: 100px;
  }
}
@media (min-width: 1440px) {
  .after-img {
    top: -610px;
    left: 780px;
  }
}
.before-after__range {
  display: flex;
  width: 210px;
  margin: 30px auto 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .before-after__range {
    position: relative;
    bottom: -130px;
    width: 592px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .before-after__range {
    bottom: 313px;
    margin-left: auto;
    margin-right: 110px;
  }
}
.before-after__progress {
  position: relative;
  width: 85px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  align-self: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .before-after__progress {
    width: 426px;
    height: 6px;
    background: #dcdcdc;
    border: none;
  }
}
.before-after__tog {
  position: absolute;
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;
  top: 3px;
  left: 7px;
}
@media (min-width: 768px) {
  .before-after__tog {
    width: 34px;
    height: 34px;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    top: -14px;
    left: 194px;
  }
}
@media (min-width: 768px) {
  .before-after__tog-min {
    width: 8px;
    height: 8px;
    background: #68b738;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
  }
}
@media (min-width: 1440px) {
  .page-footer__cooperation-info {
    position: absolute;
  }
}
.cooperation-info__wrapper {
  display: flex;
  margin: 0px 20px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .cooperation-info__wrapper {
    margin: 0px 70px;
    padding: 56px 0;
  }
}
@media (min-width: 1440px) {
  .cooperation-info__wrapper {
    width: 565px;
    height: 198px;
    background-color: #fff;
    padding: 40px 80px;
    position: relative;
    top: 95px;
    left: 37px;
  }
}
.cooperation-info__text {
  width: 139px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 26px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .cooperation-info__text {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .cooperation-info__text {
    width: 163px;
  }
}
.cooperation-info__address {
  width: 139px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .cooperation-info__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .cooperation-info__address {
    width: 155px;
  }
}
.page-footer--grey-bg {
  background-color: #f2f2f2;
}
.page-footer__map {
  background-image: url(../../../../img/map-mobile.jpg);
  background-size: 100%;
  width: 320px;
  height: 362px;
}
@media (min-width: 768px) {
  .page-footer__map {
    background-image: url(../../../../img/map-tablet.jpg);
    background-size: 100%;
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .page-footer__map {
    background-image: url(../../../../img/map-desktop.jpg);
    background-size: 100%;
    width: 100%;
    height: 400px;
  }
}
.page-footer-media {
  background-color: #f2f2f2;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  position: relative;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    margin: 0 30px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    margin: 0px 110px;
  }
}
.page-footer__logo__wrapper {
  padding-bottom: 32px;
  margin-top: 39px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 1440px) {
  .page-footer__logo__wrapper {
    margin-top: 59px;
  }
}
.page-footer__logo {
  position: relative;
  left: calc(96px - 20px);
}
.page-footer__logo:hover {
  opacity: 0.8;
}
.page-footer__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .page-footer__logo {
    left: 0;
  }
}
.social__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 22px;
  margin: 20px auto;
  padding: 0;
}
@media (min-width: 768px) {
  .social__list {
    margin-top: 41px;
  }
}
@media (min-width: 1440px) {
  .social__list {
    margin-top: 59px;
  }
}
.page-footer__copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    justify-content: flex-end;
    gap: 22px;
    width: 163px;
  }
}
@media (min-width: 1440px) {
  .page-footer__copyright {
    padding-top: 59px;
    margin-bottom: 58px;
  }
}
.copyright__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.copyright__link:hover {
  opacity: 0.8;
}
.copyright__link:active {
  opacity: 0.6;
}
.social-icon:hover path {
  fill: #68b738;
}
.social-icon:active path {
  fill: #68b738;
  opacity: 0.6;
}
.social-icon-fb:hover path {
  stroke: #68b738;
}
.social-icon-fb:active path {
  fill: #68b738;
  opacity: 0.6;
}
.page-footer--grey-bg {
  background-color: #f2f2f2;
}
.catalog-page__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
  margin: 0px auto 50px 20px;
  padding-top: 22px;
}
@media (min-width: 768px) {
  .catalog-page__title {
    padding-top: 48px;
    margin-left: 30px;
    margin-bottom: 163px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog-page__title {
    margin-left: 110px;
  }
}
.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    width: 768px;
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    width: 1440px;
    margin: 0 110px;
  }
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    row-gap: 141px;
    column-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    width: 1440px;
    column-gap: 80px;
  }
}
.catalog__item {
  width: 320px;
  min-height: 209px;
  display: grid;
  grid-template-columns: 140px 142px;
  grid-template-rows: 42px 55px 40px;
  row-gap: 13px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 8px 20px;
}
@media (min-width: 768px) {
  .catalog__item {
    border: none;
    padding: 0;
    width: 324px;
    min-height: 430px;
    background-color: #f2f2f2;
    grid-template-columns: 1fr;
    grid-template-rows: 161px 47px 147px;
    row-gap: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    width: 245px;
  }
}
.catalog__item img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .catalog__item img {
    grid-row: 1 / 2;
    position: relative;
    top: -50px;
    left: 0px;
  }
}
@media (min-width: 768px) {
  .catalog__img-min {
    width: 161px;
    height: 172px;
  }
}
@media (min-width: 768px) {
  .catalog__img-max {
    width: 168px;
    height: 200px;
  }
}
.catalog__title {
  width: 80px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__title {
    margin: 0px auto 0;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
  }
}
.product__list {
  padding: 0;
}
@media (min-width: 768px) {
  .product__list {
    margin: 21px auto 33px;
  }
}
.product__item {
  list-style-type: none;
  display: flex;
  width: 142px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .product__item {
    width: 247px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .product__item {
    width: 166px;
  }
}
.show-more__item {
  width: 320px;
  height: 208px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  padding: 0 20px 25px;
}
@media (min-width: 768px) {
  .show-more__item {
    width: 324px;
    height: 430px;
    border: 2px solid #f2f2f2;
  }
}
.plus__icon {
  margin-top: 98px;
  width: 289px;
}
.plus__icon::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
  top: 28px;
  left: 145px;
}
@media (min-width: 768px) {
  .plus__icon::before {
    width: 60px;
    top: 95px;
    left: 132px;
  }
}
.plus__icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
  top: 28px;
  left: 145px;
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .plus__icon::after {
    width: 60px;
    top: 95px;
    left: 132px;
  }
}
.show-more__text-bold {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-top: 66px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .show-more__text-bold {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    margin: 161px auto 23px;
  }
}
.show-more__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-top: 0;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .show-more__text {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto 87px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections--wrapper {
    display: flex;
    align-items: center;
    gap: 79px;
    margin-bottom: 86px;
    border-top: 2px solid #68b738;
    margin-top: 100px;
  }
}
.additional-goods-catalog {
  position: relative;
}
@media (min-width: 768px) {
  .additional-goods-catalog {
    border-top: 2px solid #68b738;
    margin-top: 75px;
  }
}
@media (min-width: 1440px) {
  .additional-goods-catalog {
    border: none;
    margin-top: -10px;
  }
}
.additional-goods-catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 10px 20px 36px;
}
@media (min-width: 768px) {
  .additional-goods-catalog__title {
    margin-left: 30px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    width: 430px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    position: relative;
    top: -16px;
    left: 10px;
  }
}
@media (min-width: 1440px) {
  .additional-goods-catalog__title {
    margin-left: 57px;
  }
}
.additional-goods-catalog__title::after {
  content: "";
  width: 53px;
  height: 2px;
  background-color: #68b738;
  right: 0;
  top: 15px;
  position: absolute;
  z-index: 0;
}
@media (min-width: 768px) {
  .additional-goods-catalog__title::after {
    display: none;
  }
}
.additional-catalog__wrapper {
  width: 282px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .additional-catalog__wrapper {
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__wrapper {
    width: 896px;
    padding: 0;
    margin-left: 110px;
  }
}
.additional-catalog__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.additional-catalog__item {
  width: 100%;
  height: 130px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .additional-catalog__item {
    border: 1px solid #cdcdcd;
    padding: 26px 38px 28px;
    height: 139px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__item {
    height: 72px;
    border-left: none;
    border-right: none;
    padding: 0;
    align-items: center;
    gap: 38px;
  }
}
.additional-catalog__title {
  margin: 13px 4px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-catalog__title {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__title {
    margin: 0;
    margin-right: auto;
  }
}
.additional-catalog__characteristics {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  color: #444444;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .additional-catalog__characteristics {
    gap: 50px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__characteristics {
    width: 288px;
  }
}
.bonus {
  width: 279px;
  height: 289px;
  margin: 36px 20px;
  background-image: url(../../../../../img/bonus-mobile.jpg);
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
@media (min-width: 768px) {
  .bonus {
    width: 707px;
    height: 200px;
    margin: 69px 30px 76px;
    background-image: url(../../../../../img/bonus-tablet.jpg);
  }
}
@media (min-width: 1440px) {
  .bonus {
    width: 245px;
    height: 288px;
    background-image: url(../../../../../img/bonus-desktop.jpg);
    background-color: #68b738;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 24px;
    margin: 0;
  }
}
.bonus p {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 187px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .bonus p {
    text-align: start;
    position: relative;
    top: 74px;
    left: 417px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .bonus p {
    margin: 0;
    top: 184px;
    left: 0px;
    text-align: center;
  }
}
.bonus::before {
  content: "";
  position: absolute;
  background-image: url(../../../../../img/icons/icon-gift.svg);
  background-repeat: no-repeat;
  z-index: 1;
  width: 78px;
  height: 80px;
  top: 58px;
  left: 101px;
}
@media (min-width: 1440px) {
  .bonus::before {
    left: 83px;
    top: 55px;
  }
}
.page__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
  margin: 21px 20px 37px;
}
@media (min-width: 768px) {
  .page__title {
    margin: 48px 70px 54px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .page__title {
    margin-left: 110px;
  }
}
.page__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 20px 39px;
}
@media (min-width: 768px) {
  .page__text {
    margin: 0 70px 66px;
  }
}
@media (min-width: 1440px) {
  .page__text {
    line-height: 30px;
    font-size: 20px;
    margin-left: 110px;
  }
}
.form-section {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form-section {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .form-section {
    width: 1440px;
  }
}
@media (min-width: 1440px) {
  .form-info--wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }
}
.info-form {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .info-form {
    width: 768px;
    padding: 0 70px 72px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .info-form {
    padding-left: 110px;
    padding-right: 0;
    width: 680px;
    row-gap: 20px;
  }
}
.info__label {
  position: relative;
}
@media (min-width: 768px) {
  .info__label {
    font-size: 20px;
    line-height: 30px;
  }
}
.info__label span {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 1440px) {
  .info__label span {
    font-size: 20px;
    line-height: 30px;
  }
}
.info__name {
  min-width: 228px;
  height: 45px;
}
@media (min-width: 768px) {
  .info__name {
    width: 567px;
  }
}
@media (min-width: 1440px) {
  .info__name {
    width: 506px;
    height: 52px;
  }
}
.info__weight {
  min-width: 204px;
  height: 45px;
}
@media (min-width: 768px) {
  .info__weight {
    width: 536px;
  }
}
@media (min-width: 1440px) {
  .info__weight {
    width: 475px;
    height: 52px;
  }
}
.info__text {
  min-width: 172px;
  height: 45px;
}
@media (min-width: 768px) {
  .info__text {
    width: 497px;
  }
}
@media (min-width: 1440px) {
  .info__text {
    width: 436px;
    height: 52px;
  }
}
.placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.purpose-form {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .purpose-form {
    margin: 0 auto 95px;
    width: 768px;
    border: 1px solid #d9d9d9;
    width: 628px;
    height: 200px;
    padding: 25px 28px;
  }
}
@media (min-width: 1440px) {
  .purpose-form {
    margin: 0;
    width: 568px;
  }
}
@media (min-width: 768px) {
  .purpose-form p {
    margin: 0 0 14px;
  }
}
.purpose__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .purpose__label {
    font-size: 20px;
    line-height: 30px;
  }
}
.purpose__input {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
.purpose__icon {
  height: 30px;
  width: 30px;
  border: 1px solid #cdcdcd;
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .purpose__icon {
    width: 40px;
    height: 40px;
  }
}
.purpose__input:checked + .purpose__icon:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  height: 13px;
  width: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .purpose__input:checked + .purpose__icon:before {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}
.contacts-form {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .contacts-form {
    border-top: 2px solid #68b738;
    margin-bottom: 50px;
    padding: 0 65px 20px 70px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .contacts-form {
    display: block;
    padding-left: 110px;
  }
}
.contacts-form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  width: 182px;
  margin: 8px 20px 35px 0;
  position: relative;
}
@media (min-width: 768px) {
  .contacts-form__title {
    margin-left: 0px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 51px;
    width: 550px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    top: -24px;
    left: -22px;
  }
}
.contacts-form__title::after {
  content: "";
  width: 99px;
  height: 2px;
  background-color: #68b738;
  right: -118px;
  top: 15px;
  position: absolute;
}
@media (min-width: 768px) {
  .contacts-form__title::after {
    display: none;
  }
}
.input-contacts__email {
  width: 215px;
  height: 45px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .input-contacts__email {
    width: 551px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .input-contacts__email {
    width: 486px;
    height: 50px;
    margin-right: 78px;
    margin-left: 20px;
  }
}
.email-icon {
  background-image: url(../../../../../img/icons/icon-email.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  position: absolute;
  top: 3px;
  right: -204px;
  z-index: 1;
}
@media (min-width: 768px) {
  .email-icon {
    top: 10px;
    right: -543px;
  }
}
@media (min-width: 1440px) {
  .email-icon {
    top: 10px;
    right: -486px;
  }
}
.input-contacts__phone {
  width: 198px;
  height: 45px;
}
@media (min-width: 768px) {
  .input-contacts__phone {
    width: 535px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .input-contacts__phone {
    width: 472px;
    height: 50px;
    margin-left: 15px;
  }
}
.phone-icon {
  background-image: url(../../../../../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 21px;
  position: absolute;
  top: 2px;
  right: -190px;
  z-index: 1;
}
@media (min-width: 768px) {
  .phone-icon {
    top: 4px;
    right: -527px;
  }
}
@media (min-width: 1440px) {
  .phone-icon {
    top: 4px;
    right: -479px;
  }
}
.comment-form {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .comment-form {
    border-top: 2px solid #68b738;
    padding: 0 65px 0px 70px;
    margin-bottom: 89px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .comment-form {
    padding-left: 110px;
  }
}
.comment__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  width: 182px;
  margin: 0px 0px 37px;
  position: relative;
}
@media (min-width: 768px) {
  .comment__title {
    margin-left: 0px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 51px;
    width: 258px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    top: -24px;
    left: -36px;
  }
}
.comment__title::after {
  content: "";
  width: 158px;
  height: 2px;
  background-color: #68b738;
  right: -118px;
  top: 15px;
  position: absolute;
}
@media (min-width: 768px) {
  .comment__title::after {
    display: none;
  }
}
.comment-form textarea {
  width: 280px;
  height: 150px;
  margin: 0 auto 22px;
  outline: none;
  resize: none;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 11px 13px;
}
@media (min-width: 768px) {
  .comment-form textarea {
    width: 631px;
    height: 174px;
  }
}
@media (min-width: 1440px) {
  .comment-form textarea {
    font-size: 20px;
    line-height: 30px;
    width: 1220px;
    height: 174px;
  }
}
.additional-form {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .additional-form {
    border-top: 2px solid #68b738;
    padding: 0 65px 0px 70px;
    margin-bottom: 54px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .additional-form {
    padding-left: 110px;
  }
}
.additional__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  width: 182px;
  margin: -2px 0px 38px;
  position: relative;
}
@media (min-width: 768px) {
  .additional__title {
    margin-left: 0px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 33px;
    width: 258px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    top: -24px;
    left: -27px;
  }
}
.additional__title::after {
  content: "";
  width: 136px;
  height: 2px;
  background-color: #68b738;
  right: -120px;
  top: 15px;
  position: absolute;
}
@media (min-width: 768px) {
  .additional__title::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .addictional__wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 220px 220px;
    column-gap: 124px;
    row-gap: 32px;
  }
  .addictional__wrapper p {
    margin: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .addictional__wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 104px;
  }
}
.additional-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 3px;
}
@media (min-width: 768px) {
  .additional-label {
    font-size: 20px;
    line-height: 30px;
  }
}
.additional__input {
  display: none;
}
.additional--checkbox {
  height: 26px;
  width: 26px;
  border: 1px solid #cdcdcd;
  display: inline-block;
  position: relative;
  background-color: #fff;
  margin-right: 16px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .additional--checkbox {
    width: 40px;
    height: 40px;
  }
}
.additional__input:checked + .additional--checkbox:before {
  content: "";
  background-image: url(../../../../../img/icons/icon-checkbox.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 14px;
  width: 18px;
}
@media (min-width: 768px) {
  .additional__input:checked + .additional--checkbox:before {
    width: 24px;
    height: 19px;
    top: 10px;
    left: 10px;
  }
}
.form-section__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 21px auto 32px;
}
@media (min-width: 768px) {
  .form-section__text {
    margin-bottom: 93px;
  }
}
@media (min-width: 1440px) {
  .form-section__text {
    width: 180px;
  }
}
.sent-form__button {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .sent-form__button {
    width: 605px;
    display: flex;
    justify-content: space-between;
    padding-left: 65px;
    gap: 90px;
  }
}
@media (min-width: 1440px) {
  .sent-form__button {
    width: 835px;
  }
}
/*# sourceMappingURL=./style.css.map */